 * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html, body {
    height: 100%;
    display: flex;
}

@font-face {
    font-family: Nasalization;
    src: url(fonts/nasalization-rg.ttf);
}

#playground {
    background: linear-gradient(90deg, #3a3630, #4f4341);
    animation: 50s scroll infinite linear;
    overflow: hidden;
    width: 100vw;
}

#ship {
    box-shadow: 0px 25px 20px -15px #8fedfb;
    
    display: block;
    position: fixed;
    top: 85%;
    left: 37%;
    
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid #b6b7ba;
}

.meteor {
    display: inline-block;
    background-color: #dba6a6;
    border-radius: 50%;
    width: 8vh;
    height: 8%;
    position: relative;
    top: -85px;
    box-shadow: 0px -8px 30px 5px #cc1a1a;
    margin-left: inherit;
}

#meteor1 {
    margin-left: 5%;
}

#menu {
    width: 100%;
    margin-top: 20%;
    visibility: hidden;
}

#menu p {
    text-align: center;
    font-family: Nasalization;
    font-size: 25px;
    color: white;
}

#menu a {
    display: block;
    text-align: center;
    font-family: Nasalization;
    font-size: 18px;
    
    width: 20%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    
    text-shadow: 0px 0px 10px red;
    color: white;
    background: rgba(240, 240, 240, 0.5);
    border-radius: 10px;
}

#menu a:hover, #menu a:focus {
   background: rgba(255, 150, 150, 0.8);
}

@media (min-width: 500px) {
    .meteor {
        margin-left: 5%;
    }
}

@media (min-width: 700px) {
    .meteor {
        margin-left: 9%;
    }
}

@media (min-width: 1100px) {
    .meteor {
        margin-left: 11%;
    }
}
