 * {
   margin: 0px;
   padding: 0px;
}

html, body {
    height: 100%;
    display: flex;
}

#playground {
    background-image: url(img/bgd.jpg);
    animation: 50s scroll infinite linear;
    overflow: hidden;
    width: 100vw;
}

#ship {
    box-shadow: 0px 25px 20px -15px #8fedfb;
    
    display: block;
    position: fixed;
    top: 85%;
    left: 37%;
    
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid gray;
}

@keyframes scroll {
    100% {
        background-position: 0px 3000px;
    }
}

@keyframes down {
    0% {top: 5px;
    }
    100% {
        top: 2000px;
    }
}

.meteor {
    display: inline-block;
    background-color: dimgray;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    position: relative;
    
}

#meteor1 {
    margin-left: 5%;
}

.meteorDown {
    animation: 10s down linear;
}